:root {
  /* === color / bg === */
  --color-bg-base: #ffffff;
  --color-bg-surface: #f9f9f9;
  --color-bg-overlay: rgba(255 255 255 / 0.9);
  --color-bg-neutral-light: #f3f4f6;

  /* === color / bg / header === */
  --color-bg-header: #f5f7fa;
  --color-bg-primary: #f5f7fa;
  --color-bg-green: #e7fcc5;
  --color-bg-blue: #deedff;
  --color-bg-grey: #f5f6f7;

  /* === color / text === */
  --color-text-base: #1a1a1a;
  --color-text-heading-strong: #2c2c2c;
  --color-text-heading-subtle: #3c4043;
  --color-text-body: #1a1a1a;
  --color-text-description: #5f6368;
  --color-text-muted: #6c6c6c;
  --color-text-inverse: #ffffff;
  --color-text-link: #1a1a1a;
  --color-text-link-hover: #000000;

  /* === color / accent === */
  --color-accent-primary: #c14d36;
  --color-accent-primary-hover: #a93f2d;
  --color-accent-secondary: #2c2c2c;
  --color-accent-neutral: #ae7d7d;

  /* === color / border === */
  --color-border-main: #e2e2e2;
  --color-border-default: #e5e5e5;
  --color-border-hover: #f35b1c;
  --color-border-muted: #f3f4f6;

  /* === color / state === */
  --color-state-success: #4ade80;
  --color-state-error: #ef4444;
  --color-state-info: #3b82f6;

  /* === Body === */
  --font-body-paragraph: 18px/150% 'Inter', sans-serif;
  --font-body-highlight: 18px/150% 'Inter-semibold', sans-serif;
  --font-body-description: 16px/150% 'Inter', sans-serif;
  --font-body-highlight-small: 16px 'Inter-semibold', sans-serif;
  --font-body-muted: 12px/ 'Inter-medium', sans-serif;
  --font-body-small: 14px/150% 'Inter', sans-serif;

  /* === UI === */
  --font-ui-buttons: 16px/120% 'Inter-semibold', sans-serif;
  --font-ui-tags: 14px/120% 'Inter', sans-serif;

  /* === Link === */
  --font-link-cta: 100 16px 'Inter', sans-serif;
  --font-link-cta-hover: 16px 'Inter-semibold', sans-serif;
}