@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Ubuntu;
  src: url(../src/assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu-medium;
  src: url(../src/assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../src/assets/fonts/Inter/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: Inter-semibold;
  src: url(../src/assets/fonts/Inter/Inter_18pt-SemiBold.ttf);
}

@font-face {
  font-family: Inter-medium;
  src: url(../assets/fonts/Inter/Inter_18pt-Medium.ttf);
}

/* HEADER */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu-medium;
}

h1 {
  font-size: 62px;
  line-height: normal;
}

h2 {
  font-size: 40px;
  line-height: 120%;
}

h3 {
  font-size: 32px;
  line-height: 130%;
}

h4 {
  font-size: 24px;
  line-height: auto;
}

h5 {
  font-size: 24px;
  line-height: normal;
}

@layer base {

  /* === BODY === */
  p {
    font: var(--font-body-paragraph);
    color: var(--color-text-description);
  }

  .text-paragraph {
    font: var(--font-body-paragraph);
  }

  .text-highlight {
    font: var(--font-body-highlight);
  }

  .text-description {
    font: var(--font-body-description);
    color: var(--color-text-description);
  }

  .text-highlight-small {
    font: var(--font-body-highlight-small);
  }

  .text-muted {
    font: var(--font-body-muted);
  }

  /* === UI === */
  .text-button {
    font: var(--font-ui-buttons);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: var(--color-text-inverse);
  }


  /* === LINKS === */
  .text-cta {
    font: var(--font-link-cta);
    color: var(--color-text-link);
    text-decoration: none;
  }

  .text-cta:hover {
    font: var(--font-link-cta-hover);
    color: var(--color-text-link-hover);
  }
}



/* === UI === */
.text-button {
  font: var(--font-ui-buttons);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: var(--color-text-inverse);
}


/* === LINKS === */
.text-cta {
  font: var(--font-link-cta);
  color: var(--color-text-link);
  text-decoration: none;
}

.text-cta:hover {
  font: var(--font-link-cta-hover);
  color: var(--color-text-link-hover);
}

/* ------------------------------------------------------------------- */
body {
  background-color: var(--color-bg-base);
}


/* -----------------------------HEADER-------------------------------------- */
header {
  color: var(--color-text-link);
}

.container,
footer {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1184px !important;
  }
}

header select.lang {
  width: 70px;
  border-bottom: 1px solid var(--color-text-description);
}

header nav a {
  border-bottom: 1px solid;
  border-color: transparent;
  transition: 0.3s;
}

header .name {
  color: var(--color-text-heading-subtle);
  font-family: Ubuntu-medium !important;
  font-size: 24px !important;
  line-height: 150%;
}

header nav a:hover {
  border-color: var(--color-border-hover);
  color: var(--color-text-link-hover);
  font: var(--font-link-cta-hover);
}

/* -----------------------------HEADER-------------------------------------- */

/* -----------------------------FOOTER-------------------------------------- */
footer .name {
  color: var(--color-text-heading-subtle);
  font-family: Ubuntu-medium;
  font-size: 24px;
  line-height: 150%;
}

footer select.lang {
  width: 70px;
  border-bottom: 1px solid var(--color-text-description);
}

footer .more {
  font: var(--font-body-small);
  color: var(--color-text-description);
}

/* -----------------------------FOOTER-------------------------------------- */

/* -----------------------------BOTONES-------------------------------------- */

.btn-Primary,
.btn-Secondary {
  font: var(--font-ui-buttons);
  padding: 12px 24px;
  border-radius: 24px;
  border: 2px solid;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.flecha.animate {
  transition: opacity 0.3s ease-in;
}

.btn-Primary {
  color: white;
  background-color: var(--color-accent-secondary);
  border-color: var(--color-accent-secondary);
}

.btn-Primary:hover {
  background-color: var(--color-accent-primary);
  border-color: var(--color-accent-primary);
}

.btn-Secondary {
  border-color: var(--color-text-body);
  color: var(--color-text-body);
}

.btn-Secondary:hover {
  border-color: var(--color-border-hover);
}

.btn-Secondary span.flecha,
.btn-Primary span.flecha {
  top: 16px;
  left: 23px;
}

/* -----------------------------BOTONES-------------------------------------- */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out forwards;
}